#skill-card {
    width: 180px;
    height: 180px;
    position: relative;
    place-items: center;
    place-content: center;
    overflow: hidden;
    border-radius: 14px;
    background: white;
}

#skill-card:hover {
    transform: perspective(40px) rotatex(2deg) translateY(-40px);
}

#card-img {
    position: absolute;

}

#skill-card:hover .skill {
    transform: translateY(-20px) translateX(-10px);
}

#skill-card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(transparent 60%, blue);
    height: 250px;
    filter: blur(1rem);
    animation: rotBGimg 6s linear infinite;
    transition: all 0.2s linear;

}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

#skill-card::after {
    content: '';
    position: absolute;
    background: white;
    inset: 4px;
    border-radius: 15px;
}

/* responsive */
@media screen and (max-width:576px) {
    #skill-card {
        width: 280px;
        height: 300px;
    }

    #skill-card::before {
        content: '';
        width: 140px;
        background-image: linear-gradient(transparent 60%, blue);
        height: 370px;
        filter: blur(1rem);



    }

    /* card img */
    #card-img {
        width: 200px;
        height: 160px;

    }
}

@media screen and (min-width:577px) and (max-width:768px) {
    #skill-card {
        width: 220px;
        height: 220px;
    }

    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #skill-card::before {
        content: '';
        width: 120px;
        background-image: linear-gradient(transparent 60%, blue);
        height: 200px;
        filter: blur(1rem);

    }

    /* card img */
    #card-img {
        width: 160px;
        height: 120px;

    }

}

@media screen and (min-width:769px) and (max-width:1024px) {
    #skill-card {
        width: 160px;
        height: 160px;
    }

    #skill-card:hover .skill {
        transform: translateY(-10px) translateX(-10px);
    }

    #skill-card:hover {
        transform: perspective(30px) rotatex(2deg) translateY(-30px);
    }

}