html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  /* height: 480px; */
  border-radius: 16px;
  overflow: hidden;
}



.swiper-slide:hover {
  box-shadow: -10px 0 20px #b577ef,
    10px 0 20px #b577ef;
}

@media screen and (max-width:576px) {
  .swiper-slide {
  
    width:320px
  
  }
  
}